meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(http-equiv="X-UA-Compatible" content="IE=edge")

meta(name="msapplication-TileColor" content="#ffffff")
meta(name="theme-color" content="#ffffff")

meta(name="robots" content="NOINDEX, NOFOLLOW")
meta(meta name="author" content="Dmitry Mumrenkov")
